<div class="header">
    <div class="bg-primary header_title">
        <div class="title">
            <a href="/">千锋后台管理系统</a>
        </div>
        <div class="person">
            <div class="user">欢迎您,我的管理员</div>
            <button type="button" class="btn btn-primary">退出</button>
        </div>
    </div>
</div>