<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
</head>

<body>
  <div class="container">
    <%- include('./common/header') %>
      <div class="main">
        <%- include('./common/menu') %>
      </div>
      <div class="footer ">我是尾部</div>
  </div>
  <script></script>
  <script src="/js/common.js"></script>
</body>

</html>