<div class="menu">
    <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
        <li role="presentation" class="active">
            <a href="javasript:void(0);" style="font-size: 18px;">后台管理</a>
        </li>
        <li role="presentation">
            <a href="/user">用户管理</a>
        </li>
        <li role="presentation ">
            <a href="/pinpai">品牌管理</a>
        </li>
        <li role="presentation ">
            <a href="phone">手机管理</a>
        </li>
    </ul>
</div>